body {
    font-family: 'Arial', sans-serif;
    background-image: url('docs/scotland.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: darkblue;
    opacity: 0.5;
    color: #fff;
    padding: 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin-top: 1em;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Add additional styles, media queries, and adjustments as necessary. */
.row {
  display: flex;
}

.column {
  flex: 50.0%;
  padding: 5px;
}
