body {
    font-family: 'Arial', sans-serif;
    background-image: url('docs/trees.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

header {
    background-color: #4682B4;
    color: #fff;
    padding: 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid red;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  color: white;
}

section {
    padding: 2em;
    margin-top: 1em;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Add additional styles, media queries, and adjustments as necessary. */
.row {
  display: flex;
}

.column {
  flex: 50.0%;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

